<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.db.mapper.UserMapper">
    <resultMap id="userMap" type="user" autoMapping="true">
        <id property="id" column="id"></id>
        <collection property="accounts" column="id" ofType="account" select="com.db.mapper.AccountMapper.findAccout"></collection>
    </resultMap>
<!--    <select id="findAll" resultType="map">-->
<!--        SELECT-->
<!--           *-->
<!--        FROM-->
<!--            db_user u-->
<!--                JOIN db_account a ON u.id = a.uid-->
<!--    </select>-->
    <select id="findAll1" resultMap="userMap">
            SELECT
               *
            FROM
                db_user u
                    JOIN db_account a ON u.id = a.uid
        </select>
</mapper>