<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.db"/>

    <bean id="queryRunner" class="org.apache.commons.dbutils.QueryRunner">
    </bean>

    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="username" value="root"/>
        <property name="password" value="123456ln"/>
        <property name="url" value="jdbc:mysql://localhost:3306/lx?useSSL=true"/>
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
    </bean>
    <bean id="userServiceProxy" factory-bean="userServiceProxyFactory" factory-method="getUserServiceProxy"></bean>
    <bean id="userServiceProxyFactory" class="com.db.Utils.UserServiceProxyFactory"></bean>
    <!--
        完整的 public void com.db.service.impl.UserServiceImpl.transfer(String, String, double)
        1. 权限修饰符可以省略不写
            void com.db.service.impl.UserServiceImpl.transfer(String, String, double)
        2.返回值类型可以用通配符*来表示
            * com.db.service.impl.UserServiceImpl.transfer(String, String, double)
        3.一层包名一个点
            * *.*.*.*.UserServiceImpl.transfer(String, String, double)
        4.  *.. 表示任意层包名
            * *..*.UserServiceImpl.transfer(String, String, double)
        5. 类名也可以用*来表示
             * *..*.*.transfer(String, String, double)
        6. 方法名也可以用*来表示
            * *..*.*.*(String, String, double)
        7.
        * *..*.*(..)

        工作中的写法：
            * *..UserServiceImpl.*(..)

    -->


</beans>