<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <package name="com.db.
 "/>
    </typeAliases>
    <environments default="db">
        <environment id="db">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/mybatis1?useSSL=true"/>
                <property name="username" value="root"/>
                <property name="password" value="123456ln"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <package name="com.db.mapper"/>
    </mappers>
</configuration>